table.grouped-products-container {
   table-layout: fixed;
   /* border: 1px solid #eee; */
}
table.grouped-products-container thead {
   background-color: #f5f5f5;
}
table.grouped-products-container thead th {
   padding: 15px 10px;
   text-align: left;
   font-weight: bold;
}
table.grouped-products-container td {
   padding: 10px;
}


.grouped-product-col-sku {
   width: 80px;
}
.grouped-product-col-lenght {
   width: 100px;
}
.grouped-product-col-width {
   width: 100px;
}
.grouped-product-col-height {
   width: 100px;
}
.grouped-product-col-diameter {
   width: 100px;
}
.grouped-product-col-price {
   width: 95px;
}
.grouped-product-col-stock {
   width: 55px;
}
.grouped-product-col-atc {
   width: 185px;
}







/* add to cart and qtt */
.grouped-product-item-container .add_to_cart {
   display: flex;
   justify-content: space-between; 
   align-items: center;
}
.grouped-product-item-container .grouped-product-atc {
   display: flex;
   align-items: center;
}
.grouped-product-item-container .added_to_cart {
   display: none !important;
}
.grouped-product-qtt .grouped-product-qtt_button {
   width: 2em;
   display: inline-block;
   text-align: center;
   cursor: pointer;
   user-select: none;
   font-weight: bold;
}
input.grouped-product-qtt_count {
   text-align: center;
   max-width: 3em;
   padding: 6px 0;
}
.add_to_cart .not_in_stock {
   width: 100%;
   text-align: right;
   padding: 8px  0;
}



/* TABLE RESPONSIVE */
@media screen and (max-width: 1599px) {
   table.grouped-products-container {
      font-size: 13px;
   }
   table.grouped-products-container th {
      padding: 12px 6px !important;
   }
   table.grouped-products-container td {
      padding: 6px;
   }
   .grouped-product-col-sku {
      width: 72px;
   }
   .grouped-product-col-lenght {
      width: 95px;
   }
   .grouped-product-col-width {
      width: 95px;
   }
   .grouped-product-col-height {
      width: 95px;
   }
   .grouped-product-col-diameter {
      width: 95px;
   }
   .grouped-product-col-price {
      width: 75px;
   }
   .grouped-product-col-stock {
      width: 55px;
   }
   .grouped-product-col-atc {
      width: 167px;
   }
}
@media screen and (max-width: 1366px) {
   table.grouped-products-container {
      font-size: 12px;
   }
   table.grouped-products-container th {
      padding: 10px 4px !important;
   }
   table.grouped-products-container td {
      padding: 4px;
   }
   .grouped-product-col-sku {
      width: 62px;
   }
   .grouped-product-col-lenght {
      width: 80px;
   }
   .grouped-product-col-width {
      width: 80px;
   }
   .grouped-product-col-height {
      width: 80px;
   }
   .grouped-product-col-diameter {
      width: 80px;
   }
   .grouped-product-col-price {
      width: 70px;
   }
   .grouped-product-col-stock {
      width: 50px;
   }
   .grouped-product-col-atc {
      width: 167px;
   }
}
@media screen and (max-width: 1024px) {
   table.grouped-products-container {
      font-size: 16px;
   }
   .grouped-product-item-container {
      margin-bottom: 20px;
      background-color: #f5f5f5;
      padding: 20px;
   }

   table thead {
     border: none;
     clip: rect(0 0 0 0);
     height: 1px;
     margin: -1px;
     overflow: hidden;
     padding: 0;
     position: absolute;
     width: 1px;
   }
   
   table tr {
     display: block;
   }
   
   table td {
     display: block;
     font-weight: bold;
   }
   
   table td::before {
     content: attr(data-label);
     display: block;
     font-weight: normal;
     font-size: 0.8em;
   }

   .add_to_cart {
      width: 180px;
   }
   .add_to_cart:before {
      display: none;
   }
   .add_to_cart .not_in_stock {
      text-align: left;
   }
   
}


/* POPUP */
body.aa_order_popup_opened {
   pointer-events: none;
}
body.aa_order_popup_opened:after {
   content: '';
   position: fixed;
   top: -100px;
   left: -100px;
   width: calc(100vw + 200px);
   height: calc(100vh + 200px);
   background: #000;
   opacity: 0.8;
}
.aa_order_product_popup {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 820px;
   max-width: calc(100% - 20px);
   height: 700px;
   max-height: 90vh;
   border: 1px solid #ddd;
   background: #fff;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
   z-index: 10000;
   pointer-events: auto !important;
}
.aa_popup_iframe {
   margin-top: 32px;
   height: calc(100% - 32px);
   width: 100%;
   z-index: -99;
}
.aa_close_popup {
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
   font-size: 24px;
}

.aa_order_product_popup_loader {
   height: 18px;
   width: 18px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   overflow: hidden;
   border-radius: 50%;
   background: #A1A9B1;
   z-index: -1;
}
.aa_order_product_popup_loader:after {
   content: "";
   position: absolute;
   background-color: #fff;
   top: 3px;
   left: 3px;
   width: 4px;
   height: 4px;
   border-radius: 50%;
   transform-origin: 6px 6px;
   animation: ai-360-rotate 1s infinite linear;
}
@keyframes ai-360-rotate {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}